@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&family=Nunito&family=Poppins:ital@0;1&family=Ubuntu:wght@500&display=swap");

.home {
  max-height: 900vh;
  display: flex;
  width: 95%;
  margin: 2%;
  flex-shrink: 0;

  & ._inner {
    width: 100%;
    padding-top: 3%;

    // Child1
    & #inner_child1 {
      width: 100%;
      display: flex;
      padding-bottom: 5%;
      justify-content: space-evenly;
      align-items: center;
      & .left {
        display: flex;
        padding-right: 5rem;
        height: 100vh;
        max-height: 67vh;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        & .sentence {
          color: #0b3558;
          width: 100%;
          // background-color: #476788;
          font-size: 2.9rem;
          text-align: left;
        }
        & p {
          color: #476788;
          margin-bottom: 8%;
        }

        /*Vertical Sliding*/
        .slidingVertical {
          font-family: "Nunito";
          font-size: 3rem;
          display: inline;
          text-align: left;
          text-indent: 8px;
        }
        & .applybtn {
          align-items: center;
          padding: 5% 0% 0% 0%;
          justify-content: center;
          & a {
            margin-left: 2rem;
            padding: 1.8% 6%;
            &:nth-child(2) {
              padding: 1.5% 6%;
              background-color: white;
            }
          }
        }
      }
      & .right {
        width: 40%;
        height: 70vh;
        padding-right: -50%;
        border-radius: 10px;
        background-size: cover;
        background-image: url("https://img.freepik.com/free-photo/doctor-with-white-robe-stethoscope_144627-43878.jpg?size=626&ext=jpg&uid=R79876590&ga=GA1.2.1140535737.1663829627");
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }

    //Child2
    #inner_child2 {
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin: 5% auto;
      height: 80vh;
      justify-content: space-evenly;

      & .left {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-image: url("https://img.freepik.com/free-photo/doctor-examining-his-young-patient_1098-2162.jpg?size=626&ext=jpg&uid=R79876590&ga=GA1.2.1140535737.1663829627");
        background-size: cover;
        width: 40%;
        height: 70vh;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
      & .right {
        width: 500px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        & ._child {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 20vh;
          font-family: "Nunito";
          width: 90%;
          font-size: 1rem;
          margin: 3%;
          & h2 {
            margin-bottom: 3%;
          }
        }
      }
    }

    //Child3
    #inner_child3 {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 20% 0% 0% 0%;
      width: 100%;
      height: 100vh;
      & ._top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        background-color: white;
        & h2 {
          color: #0b3558;
          font-size: 2.5rem;
          font-weight: 700;
        }
      }
      & ._bottom {
        margin-top: 2%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        height: 80vh;
        & ._bottom_box {
          margin: 2%;
          height: 300px;
          //border: 2px solid red;
          //text-align:start;
          align-items: flex-end;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 350px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          position: relative;

          & p {
            color: white;
            position: absolute;
            bottom: 0;
            vertical-align: text-bottom;
            text-align: center;
            background-color: transparent;
            // border: 2px solid red;
            width: 100%;
          }
        }
        & ._bottom_box {
          background-image: url("https://www.caregigs.co/wp-content/uploads/2022/07/medical-staff-discussing-report-at-hospital-2022-03-07-17-45-08-utc-1-1.jpg");
        }
        & ._bottom_box:nth-child(2) {
          background-image: url("https://www.caregigs.co/wp-content/uploads/2022/07/medical-assistant-preparing-effervescent-pill-in-w-2022-01-19-00-22-29-utc-1-1.jpg");
        }
        & ._bottom_box:nth-child(3) {
          background-image: url("https://www.caregigs.co/wp-content/uploads/2022/07/caregiver-helping-using-dumbbells-for-senior-woman-2021-08-27-11-44-45-utc-1-1.jpg");
        }
      }
    }

    // Child4
    #inner_child4 {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 4% 0%;
      height: 50vh;
      width: 100%;
      & ._inner {
        padding: 5rem 0rem;
        & h1 {
          margin-bottom: 3%;
        }
        & p {
          color: #476788;
        }
        & .applybtn {
          & a {
            margin: 0.5rem;
            padding: 0.6% 2%;
            &:nth-child(2) {
              padding: 0.5% 2%;
            }
          }
        }
      }
    }

    //Child
    #inner_child5 {
      width: 100%;
      height: 70vh;
      display: flex;
      position: sticky;
      justify-content: space-evenly;
    }
  }
}

.slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
