@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
}
html,
body {
  min-height: 100%;
  margin-bottom:50px;

}
body {
  /* background: radial-gradient(
    at top left,
    rgba(146, 43, 225, 1) 0%,
    rgba(43, 9, 107, 1) 100%
  ); */
  background-color: white;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
/* nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
} */
/* nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
} */
/* .layout{
  z-index: 1;
} */
.content{
  /* top: -200px; */
 /* border: 5px solid red; */
  margin: 10% 5%;
  width: 90%;
  height: 400%;
  max-height: 900vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}
